<div class="row">
  <div class="col m12">
      <h2 class="center-align">Catálogo</h2>
      <div class="row">
          <div class="col s12">
              <div class="row">
                  <div class="input-field col s12">
                      <input [(ngModel)]="filter" placeholder="Buscar...." type="text" class="validate">
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="row">
    <div class="col m3" ng-If="products" *ngFor="let product of productsSearch()"  >
      <div class="card">
        <div class="card-image">
          <img [src]="product.image">
        </div>
        <div class="card-content">
          <p><span>{{product.title}}</span></p>
          <p>Preço: {{product.price}}</p>
          <p>Comissão: {{product.commission}}%</p>
        </div>
      </div>
    </div>
    
  </div>    
